body,ul,ol,p,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}
.clearfix{
    *zoom: 1;
}
